<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
    {% if url %}
    <h1>Total records are {{record}}</h1>
    <h1>Total current week expense Rs.{{total_weekly_amount}}</h1>
    <h1>Total current montly expense Rs.{{total_montly_amount}}</h1>
    <h1>Total current yearly expense Rs.{{total_yearly_amount}}</h1>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit">Submit</button>
    </form>
    <canvas id="paint" width="750" height="450" style="border: 5px solid #000000;">Update your browser to support HTML5 Canvas</canvas>
    <button id="penciltool" type="button" style="height: 25px; width: 100px;" onclick="pencil()">Pencil</button>
<button id="linetool" type="button" style="height: 25px; width: 100px;" onclick="line()">Line</button>
<button id="rectangletool" type="button" style="height: 25px; width: 100px;" onclick="rectangle()">Rectangle</button> 
<button id="circletool" type="button" style="height: 25px; width: 100px;" onclick="circle()">Circle</button> 
<button id="erasertool" type="button" style="height: 25px; width: 100px;" onclick="eraser()">Eraser</button> 
<button id="resettool" type="button" style="height: 25px; width: 100px;" onclick="reset()">Reset</button>
<script>
    
var canvas = document.getElementById("paint");
var ctx = canvas.getContext("2d");
var width = canvas.width, height = canvas.height;
    function add_pixel (){
        ctx.lineWidth += 1;
    }
             
    function reduce_pixel (){
        if (ctx.lineWidth == 2)
            return;
        else
            ctx.lineWidth -= 1;
    }
    function pencil (){
        canvas.onmousedown = function (e){
            curX = e.clientX - canvas.offsetLeft;
            curY = e.clientY - canvas.offsetTop;
            hold = true;
                 
            prevX = curX;
            prevY = curY;
            ctx.beginPath();
            ctx.moveTo(prevX, prevY);
        };
             
        canvas.onmousemove = function (e){
            if(hold){
                curX = e.clientX - canvas.offsetLeft;
                curY = e.clientY - canvas.offsetTop;
                draw();
            }
        };
             
        canvas.onmouseup = function (e){
            hold = false;
        };
             
        canvas.onmouseout = function (e){
            hold = false;
        };
             
        function draw (){
            ctx.lineTo(curX, curY);
            ctx.stroke();
            canvas_data.pencil.push({ "startx": prevX, "starty": prevY, "endx": curX, "endy": curY, 
                "thick": ctx.lineWidth, "color": ctx.strokeStyle });
        }
    }
    function color (color_value){
        ctx.strokeStyle = color_value;
        ctx.fillStyle = color_value;
    }
    
function fill (){
    fill_value = true;
    stroke_value = false;
}
         
function outline (){
    fill_value = false;
    stroke_value = true;
}
</script>
</body>
</html>